{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vasu Balli</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png'%}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png'%}">
<link rel="apple-touch-icon" sizes="114x114" href="{ %static 'img/apple-touch-icon-114x114.png'%}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css'%}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/nivo-lightbox.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nivo-lightbox/default.css'%}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script src="https://kit.fontawesome.com/7a64fdcc29.js" crossorigin="anonymous"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

      <![endif]-->
  
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-play fa-rotate-270"></i> Vasu Balli</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#page-top" class="page-scroll">Home</a></li>
        <li><a href="#skills" class="page-scroll">Skills</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#portfolio" class="page-scroll">Portfolio</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>Vasu B</h1>
          <p> Python • Fullstack Web Dev • Digital Artist </p>
        
          <a href="#skills" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div>
      </div>
    </div>
  </div>
</header>
<div id="skills" class="skills">
  <div class="icons">
    <div> 
       
      <i class="fa-brands fa-html5"></i>
      <h5>HTML</h5> 
      
      
    </div>
    
    <div>
      <i class="fa-brands fa-css3-alt"></i>
      <h5>CSS</h5>
    </div>
    <div>
      <i class="fa-brands fa-square-js"></i>
      <h5>JAVASCRIPT</h5>

    </div>
    <div> 
      <i class="fa-brands fa-python"></i>
      <h5>PYTHON</h5>

    </div>
    <div>
      <i class="fa-brands fa-aws"></i>
      <h5>AWS</h5>

    </div>
    <div>
      <i class="fa-brands fa-github"></i>
      <h5>GITHUB</h5>

    </div>
    <div>
      <svg class="django" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="django"><path fill="#8bd7fb" d="M21.25 6.06v-.001h-3.897v7.747c0 3.414-.177 4.714-.734 5.835-.531 1.096-1.367 1.81-3.088 2.625L17.15 24c1.721-.866 2.556-1.656 3.189-2.905.683-1.299.911-2.803.911-5.937V6.06z"></path><path fill="#8bd7fb" d="M15.049 18.166V0h-3.897v5.984a6.182 6.182 0 0 0-1.695-.204c-4.075 0-6.707 2.599-6.707 6.6 0 4.154 2.48 6.32 7.238 6.32 1.594.001 3.062-.152 5.061-.534zm-8.326-5.862c0-2.141 1.138-3.364 3.113-3.364h-.004c.028-.002.055-.002.082-.002.443 0 .868.075 1.237.205v6.294a8.933 8.933 0 0 1-1.341.102c-1.998.001-3.087-1.145-3.087-3.235zM17.353.021h3.897v4.026h-3.897z"></path></svg>
      <h5>DJANGO</h5>
    </div>
  </div>
  <div class="level">
    <h5 id="html">90%</h5>
    <h5 id="css">70%</h5>
    <h5 id="javascript">40%</h5>
    <h5 id="python">100%</h5>
    <h5 id="aws">40%</h5>
    <h5 id="github">100%</h5>
    <h5 id="djangoo"> 70%</h5>


    
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="{% static 'img/profile2.png'%}" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <p>I'm a fullstack web developer and programmer living in Andhra Pradesh,India. I make web applications usually with django, but still exploring other technologies and frameworks that catch my interest! if you're looking for a developer to add to your team, I'd love to hear from you!</p>
          <p>I primarily use python but picking up a new framework or programming language is'nt a problem. i am comfortable developing on the frontend or backend as well.my bread and butter is django and its associated stack Postgres database,Gunicorn and Nginx</p>
          <a href="#portfolio" class="btn btn-default btn-lg page-scroll">My Portfolio</a> </div>
      </div>
    </div> 
  </div>
</div>


<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".html">Html/css</a></li>
            <li><a href="#" data-filter=".web">websites</a></li>
            <li><a href="#" data-filter=".product">python</a></li>
          </ol>
        </li>  
      </ul>

     <!-- <div class="row">
        <div class="portfolio-items">
            <div class="portfolio-item ">
             
              <img src="img/portfolio/01-small.jpg" class="im-responsive" alt="Project Title"> 
              <div>
                <span>TASK MANAGER</span>
                <h3>Task Manager web application to upload daily tasks by the registered users.task manager has user login authentication and user can upload,edit and delete the daily tasks and also registered users can change his/her credentials like username ,password  and more..</h3>
                <h3 id="link">Live Project : <a>Click Here</a></h3>
              </div>
              
              

            </div>
          

            <div class="portfolio-item">
             
              <br><br><br>
              <img src="img/portfolio/02-small.jpg" alt="">
              <div>
                <span>VR EATS</span>
                <h3>VR Eats is a freelancing restuarent project made with pure HTML/CSS.this project is meant for letting costumers to see the available menu and to book their desired table as it a prototype i have'nt added backend yet for table booking and messaging </h3>
                <h3>Live Project : <a href="">Click Here</a></h3>
              </div>
            </div>
            <div class="portfolio-item">
             
              
              <img src="img/portfolio/02-small.jpg" alt="">
              <div>
                <span>MUSIC PLAYER</span>
                <h3>music player is my personal music listening web application as i'm new to javascript i tried to code this project logic with javascript and wrote play,pause,previous and next button functions . it has a playlist of 6 music files with a very simple UI responsive for both mobile/PC.  </h3>
                <h3>Live Project : <a href="">Click Here</a></h3>
              </div>
            </div>
          </div>
          

          
        </div>
      </div> -->
      <br><br>
      <div class="row">
        <div class="portfolio-items">
          <div class="web">
            <div class="portfolio-item ">
             
              <img src="{% static 'img/portfolio/testkly.png'%}" class="im-responsive" alt="Project Title"> 
              <div>
                <span>TASK MANAGER</span>
                <h3>Task Manager web application to upload daily tasks by the registered users.task manager has user login authentication and user can upload,edit and delete the daily tasks and also registered users can change his/her credentials like username ,password  and more..</h3>
                <h3 id="link">Live Project : <a href="https://task-manager-production-8fa4.up.railway.app">Click Here</a></h3>
                <h3>Source Code : <a href="https://github.com/Vasurko09/task-manager.git"><i id="git" class="fa-brands fa-github"></i></a></h3>

                <div>
                  <i class="fa-brands fa-html5"></i>
                  <i class="fa-brands fa-css3-alt"></i>
                  <i class="fa-brands fa-square-js"></i>
                  <i class="fa-brands fa-python"></i>
                  <i class="fa-brands fa-aws"></i>
                  <svg class="django-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="django-icon"><path fill="#cecccc" d="M21.25 6.06v-.001h-3.897v7.747c0 3.414-.177 4.714-.734 5.835-.531 1.096-1.367 1.81-3.088 2.625L17.15 24c1.721-.866 2.556-1.656 3.189-2.905.683-1.299.911-2.803.911-5.937V6.06z"></path><path fill="#cecccc" d="M15.049 18.166V0h-3.897v5.984a6.182 6.182 0 0 0-1.695-.204c-4.075 0-6.707 2.599-6.707 6.6 0 4.154 2.48 6.32 7.238 6.32 1.594.001 3.062-.152 5.061-.534zm-8.326-5.862c0-2.141 1.138-3.364 3.113-3.364h-.004c.028-.002.055-.002.082-.002.443 0 .868.075 1.237.205v6.294a8.933 8.933 0 0 1-1.341.102c-1.998.001-3.087-1.145-3.087-3.235zM17.353.021h3.897v4.026h-3.897z"></path></svg>


                </div>
                
              </div>
              
              

            </div>
          </div>
          <div class="html">
            <div class="portfolio-item">
             
              <br><br><br>
              <img src="{% static 'img/portfolio/restro.png'%}" alt="">
              <div>
                <span>VR EATS</span>
                <h3>VR Eats is a freelancing restuarent project made with pure HTML/CSS.this project is meant for letting costumers to see the available menu and to book their desired table as it a prototype i have'nt added backend yet for table booking and messaging </h3>
                <h3>Live Project : <a href="https://restro-production.up.railway.app/booking.html">Click Here</a></h3>
                <h3>Source Code : <a href="https://github.com/Vasurko09/restro.git"><i id="git" class="fa-brands fa-github"></i>
                </a></h3>
                <div>
                  <i class="fa-brands fa-html5"></i>
                  <i class="fa-brands fa-css3-alt"></i>
                </div>
              </div>
            </div>
          </div>
         
          <div class="web">
            <div class="portfolio-item">
             
              
              <img src="{% static 'img/portfolio/musicplayer.png'%}" alt="">
              <div>
                <span>MUSIC PLAYER</span>
                <h3>music player is my personal music listening web application as i'm new to javascript i tried to code this project logic with javascript and wrote play,pause,previous and next button functions . it has a playlist of 6 music files with a very simple UI responsive for both mobile/PC.  </h3>
                <h3>Live Project : <a href="https://musicplayer-production-7f33.up.railway.app">Click Here</a></h3>
                <h3>Source Code : <a href="https://github.com/Vasurko09/musicplayer.git"><i id="git" class="fa-brands fa-github"></i></a></h3>

                <div>
                  <i class="fa-brands fa-html5"></i>
                  <i class="fa-brands fa-css3-alt"></i>
                  <i class="fa-brands fa-square-js"></i>
                  <i class="fa-brands fa-python"></i>
                  <svg class="django-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="django-icon"><path fill="#cecccc" d="M21.25 6.06v-.001h-3.897v7.747c0 3.414-.177 4.714-.734 5.835-.531 1.096-1.367 1.81-3.088 2.625L17.15 24c1.721-.866 2.556-1.656 3.189-2.905.683-1.299.911-2.803.911-5.937V6.06z"></path><path fill="#cecccc" d="M15.049 18.166V0h-3.897v5.984a6.182 6.182 0 0 0-1.695-.204c-4.075 0-6.707 2.599-6.707 6.6 0 4.154 2.48 6.32 7.238 6.32 1.594.001 3.062-.152 5.061-.534zm-8.326-5.862c0-2.141 1.138-3.364 3.113-3.364h-.004c.028-.002.055-.002.082-.002.443 0 .868.075 1.237.205v6.294a8.933 8.933 0 0 1-1.341.102c-1.998.001-3.087-1.145-3.087-3.235zM17.353.021h3.897v4.026h-3.897z"></path></svg>


                </div>
              </div>
            </div>
          
          
          </div>
      </div>
   
    </div>
  </div> 
</div>

        
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Get In Touch</h2>
      <hr>
    </div>
    <div class="col-md-8 col-md-offset-2">
    <!--  <form action="message/" name="sentMessage" id="contactForm" novalidate method="post">
        {%csrf_token%}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required" name="name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button href="message/" type="submit" class="btn btn-default btn-lg">Send Message</button>
      </form> -->
      <div >
        <span style="display:block;">mail : vasuballi815@gmail.com</span>
        <span>contact number : 9177887814</span>

      

      </div>


      <div class="social">
      
        
        <div class="flex-center">
          <a href="https://github.com/Vasurko09"><i class="fa fa-github fa-4x icon-3d"></i></a>
          <a href="https://twitter.com/Vasu03041297?t=sA5LYebSNDqur0jgJhA&s=09"><i class="fa fa-twitter fa-4x icon-3d"></i></a>
          <a href="https://wwww.facebook.com/vasu.rockx.3"><i class="fa fa-facebook fa-4x icon-3d"></i></a>
          <a href="https://www.instagram.com/mr__l__o__n__e__l__y/"><i class="fa fa-instagram fa-4x icon-3d"></i></a>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.1.11.1.js'%}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script> 
<script type="text/javascript" src="{% static 'js/SmoothScroll.js'%}"></script> 
<script type="text/javascript" src="{% static 'js/nivo-lightbox.js'%}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.isotope.js'%}"></script> 
<script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js'%}"></script> 
<script type="text/javascript" src="{% static 'js/contact_me.js'%}"></script> 
<script type="text/javascript" src="{%static 'js/main.js'%}"></script>
</body>
</html>